{% extends 'base_layout.html' %}
<a class="navbar-brand" href="{{ url_for('home') }}">Team ni Aling Nena</a>
{% block menu %}

        <ul class="nav navbar-nav">
            <li >
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li >
                <a href="{{ url_for('feeds') }}">View Feeds</a>
            </li>
            <li class="active">
                <a href="{{ url_for('about') }}">About Us</a>
            </li>
        </ul>
{% endblock %}