{% extends 'base_layout.html' %}
<a class="navbar-brand" href="{{ url_for('home') }}">Team ni Aling Nena</a>
{% block menu %}

        <ul class="nav navbar-nav">
            <li >
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="active">
                <a href="{{ url_for('feeds') }}">View Feeds</a>
            </li>
            <li>
                <a href="{{ url_for('about') }}">About Us</a>
            </li>
        </ul>
{% endblock %}


{% block body %}
<h1>Edit Feed Details</h1>
<form method="POST" action="{{ url_for('feeds', uid=feed.id, task='update') }}">
    <table cellpadding="2" cellspacing="5">
    
    <tr>
        <td width="120">
            User_id:
        </td>
        <td>
            
            <input type="text" name="user_id" value={{ feed.user_id }} >
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Description:
        </td>
        <td>
            
            <input type="text" name="description" value={{ feed.description }}/>
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Feed_url:
        </td>
        <td>
            
            <input type="text" name="feed_url" value={{ feed.feed_url }} />
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Title:
        </td>
        <td>
            
            <input type="text" name="title" value={{ feed.title }} />
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Created_at:
        </td>
        <td>
            
            <input type="text" name="created_at" value={{ feed.created_at }}/>
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Updated_at:
        </td>
        <td>
            
            <input type="text" name="updated_at" value={{ feed.updated_at }} />
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Id:
        </td>
        <td>
            
            <input type="hidden" name="id" value={{ feed.id }} />
            
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Published:
        </td>
        <td>
            
            <input type="text" name="published" value={{ feed.published }} />
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Deleted_at:
        </td>
        <td>
            
            <input type="text" name="deleted_at" value={{ feed.deleted_at }} />
            
        </td>
    </tr>
    
    
    
    <tr>
        <td width="120">
            Slug:
        </td>
        <td>
            
            <input type="text" name="slug" value={{ feed.slug }} />
            
        </td>
    </tr>
    
    
    </table>


    <br />
<tr> 
<td>
<td width="120">
    <input type="submit" value="Update Details" class="btn btn-primary btn-lg"/> or <a href="{{ url_for('feeds', uid=feed.id )}}">Cancel</a>
</td> 


</form>



{% endblock %}