{% extends 'base_layout.html' %}
<a class="navbar-brand" href="{{ url_for('home') }}">Team ni Aling Nena</a>
{% block menu %}

        <ul class="nav navbar-nav">
            <li >
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="active">
                <a href="{{ url_for('feeds') }}">View Feeds</a>
            </li>
            <li>
                <a href="{{ url_for('about') }}">About Us</a>
            </li>
        </ul>
{% endblock %}
{% block title %}Feed Details{% endblock %}

{% block body %}
<h1>Feed Details</h1>

{% if feeds %}
<ul>
    {% for feed in feeds %}
    <li>
        <a href="{{ url_for('feeds', uid=feed.id) }}" target="_blank">{{ feed.title }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
    Not Available！
{% endif %}

{% endblock %}