{% extends 'base_layout.html' %}

{% block menu %}
        <ul class="nav navbar-nav">
            <li >
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="active">
                <a href="{{ url_for('feeds') }}">View Feeds</a>
            </li>
            <li>
                <a href="{{ url_for('about') }}">About Us</a>
            </li>
        </ul>
{% endblock %}

{% block body %}
    	<h3>Updated Details</h3>
        <table cellpadding="2" cellspacing="5">
    	<tr>
   		{% for k,v in data.items() %}
      		<td width="120">{{ k }} : {{ v }}</td>
    	{% endfor %}
    	</tr>
        </table>
  
{% endblock %}