{% extends 'base_layout.html' %}
{% block title %}Feeds{% endblock %}

<a class="navbar-brand" href="{{ url_for('home') }}">Team ni Aling Nena</a>
{% block menu %}

        <ul class="nav navbar-nav">
            <li >
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="active">
                <a href="{{ url_for('feeds') }}">View Feeds</a>
            </li>
            <li>
                <a href="{{ url_for('about') }}">About Us</a>
            </li>
        </ul>
{% endblock %}

{% block body %}
<h1>Feed Details</h1>

{% if feed %}
<table>

<tr>
	{% for key,value in feed.items() %}

	<td width="120">{{ key }}: </td><td>{{ value }}</td>

</tr>
	{% endfor %}	
</table>

<a href="{{ url_for('feeds', uid=feed.id, task='edit') }}" class="btn btn-primary btn-lg" role="button">Edit Feed</a>
or <a href="/feeds/">Return to Listing</a>
{% else %}
    詳細が見つかりません！
{% endif %}

{% endblock %}