{% extends 'base_layout.html' %}

{% block nav_title %}About Page{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>
        About Page
    </li>
{% endblock %}

{% block content %}
<h1>Welcome</h1>

<div>
    <p>
        The quick brown fox jumps over the lazy dog near the river bank.
    </p>
</div>
{% endblock %}