<html>
<head>
<title>User Login</title>
<style>
body {
  font-family: Arial;
  font-size: 16px; }
textarea,
select,
input {
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px; }
button,
input[type="submit"] {
  display: block;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 10px;
  font-size: 18px;
  font-weight: bold; }
label {
  display: block; 
  color: #676767; }
i {
  font-style: normal;
  display: inline-block; }
</style>
</head>
<body>
{% block body %}

<h1>Log in</h1>

<form method="POST" action="{{ url_for('login', username='', task='store') }}">
   <p>
     <label>Username</label>
     <input type="text" name="username" value="" />
     <label>Password</label>
     <input type="password" name="password" value="" /> <br />
     <input type="checkbox" name="remember" value='remember'  /> Remember me
     <label>Log in as:</label>
     <select name="recommendation">
     <option value="manager">Manager</option>
     <option value="admin">Admin</option>
     <option value="user" selected>User</option>
     </select>

   </p>

   <br />
   <br />
   <input type="submit" value="Submit" />
</form>
{% endblock %}
</body>
</html>
