{% extends 'base_layout.html' %}

{% block content %}

	<h3>Your data was successfully stored!!</h3>  
  	{% for message in get_flashed_messages() %}
    	<li>{{ message }}</li>
  	{% endfor %}
{% endblock %}