{% extends 'base_layout.html' %}

{% block nav_title %}Members{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>
        Members
    </li>
{% endblock %}

<title>{% block title %}Team ni Aling Nena - Members{% endblock %}</title>

{% block content %}
<h1>Members</h1>
<ul>
{% for member in name %}
   <li>{{ member }}</li>
{% endfor %}
</ul>	
{% endblock %}