section.main {
    padding: 15px;
}
table td:eq(0) {
    color: #888888;
}

/* bootstrap overrides */
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}